{
    "plugins": [
        [
            "babel-plugin-inline-json-import"
        ],
        [
            "import-graphql",
            {
                "runtime": true
            }
        ]
    ],
    "presets": [
        "next/babel",
        "@zeit/next-typescript/babel"
    ],
    "ignore": [
        "./database",
        "./server"
    ]
}