:root {
}

.header {
    text-shadow: 2px 2px rgba(0,0,0,.25);
    overflow: hidden;
    text-align: center;
    width: 100%;
    color: white;
    background: linear-gradient(
        rgba(49,95,122, .4),rgba(49,95,122, .4)   
    );
    background-position: center center;
    background-size: cover;
}
.subtitle {
    margin-top: 2rem;
    font-style: italic;
}
.title a {
    color: white;
    display: inline-block;
    margin: 6rem 0 0;
    letter-spacing: .1rem;
    border: .125rem solid white;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}
nav {
    margin-top: 6rem;
    margin-bottom: .5rem;
}