.CustomEditor>label {
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
}

.CustomEditor .menubar {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 12px 0;
  color: white;
}

.CustomEditor .menubar button {
  border: 1px solid #4a4a6a;
  border-radius: 4px;
  padding: 4px 8px;
}

.CustomEditor .menubar button:hover {
  background-color: rgba(255, 255, 255, .1);
}

.CustomEditor .menubar button:active {
  background-color: rgba(255, 255, 255, .2);
}

.CustomEditor .menubar button.is-active {
  border-color: white;
}

.ProseMirror {
  color: white;
  border: 1px solid #4a4a6a;
  padding: 12px;
  border-radius: 4px;
  min-height: 300px;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror>*+* {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror a {
  color: #7b79ff;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
  font-weight: bold;
}

/* .ProseMirror h1 {
  font-size: 4rem;
}
.ProseMirror h2 {
  font-size: 3rem;
}
.ProseMirror h3 {
  font-size: 2rem;
}
.ProseMirror h4 {
  font-size: 1.5rem;
}
.ProseMirror h5 {
  font-size: 1.25rem;
}
.ProseMirror h6 {
  font-size: 1.125rem;
} */
.ProseMirror h1 {
  font-size: 2em;
  margin: .67em 0
}

.ProseMirror h2 {
  font-size: 1.5em;
  margin: .75em 0
}

.ProseMirror h3 {
  font-size: 1.17em;
  margin: .83em 0
}

.ProseMirror h5 {
  font-size: .83em;
  margin: 1.5em 0
}

.ProseMirror h6 {
  font-size: .75em;
  margin: 1.67em 0
}

.ProseMirror ul {
  list-style-type: circle;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin: 2rem 0;
}